<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <style>
      /* Run on https://autoprefixer.github.io/ to compile CSS */
      .loading-label {
        position: absolute;
        top: calc(50% - 75px);
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        font-weight: bold;
        color: #444;
        font-size: 40px;
        font-family: 'Roboto', sans-serif;
      }
      .loading {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -15px 0 0 -15px;
        height: 30px;
        width: 30px;
        border: 2px solid #ddd;
        border-left-color: #009688;
        border-radius: 30px; /* border-radius: 50% */
        -webkit-animation: animation-rotate 950ms cubic-bezier(.64,2,.56,.6) infinite;
        animation: animation-rotate 950ms cubic-bezier(.64,2,.56,.6) infinite;
      }
      
      @-webkit-keyframes animation-rotate {
        100% {
          -webkit-transform: rotate(360deg);
        }
      }
      @keyframes animation-rotate {
        100% {
          -webkit-transform: rotate(360deg);
                  transform: rotate(360deg);
        }
      }
    </style>
</head>
<body>
    <label class="loading-label">Building...</label>
    <div class="loading"></div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        (function($) {
            $(document).ready(function() {
                
                function build() {
                    $.ajax({
                        url: 'build.php',
                        method: 'POST',
                        data: {
                            uid: '{{ uid }}'
                        }
                    });
                }
                build();
                
                function check() {
                    
                    console.log('checking');
                    
                    var status = false;
                    
                    if(typeof res !== 'undefined') {
                        status = (res == 'true');
                    }
                    
                    if(!status) {
                        $.ajax({
                            url: 'check.php',
                            method: 'POST',
                            data: {
                                uid: '{{ uid }}'
                            }
                        })
                        .always(function(e) {
                            
                          if( e == 'true') {
                              window.location.href = "http://git.gitforidex.com";
                              $('.loading').replaceWith($('<div><a href="http://git.gitforidex.com">Ready!</a></div>'));
                          }
                          
                          // Schedule the next request after this one completes,
                          // even after error
                          console.log('Waiting ' + (3) + ' seconds');
                          setTimeout(check, 3000);
                        });
                    }
                }
                check();
            });
        })(jQuery);
    </script>
</body>
</html>