<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation-float.min.css" />
  <style>
    html, body, .tabs-panel, iframe {
      width: 100%;
      height: 100%;
    }
    iframe {
      border: none;
    }
    .tabs-panel {
      padding: 0px;
    }
    .tabs-content {
      height: calc(100% - 54px);
      width: 100%;
    }
    .nav-buttons {
      position: absolute;
      top: 5px;
      right: 20px;
    }
  </style>
</head>
<body>
    <div class="nav-buttons">
      <!--<a class="button secondary" href="http://get.gitforidex.com/building/rebuild.php">Restart</a>-->
      <a class="button alert" href="/logout">Logout</a>
    </div>
    
    <ul class="tabs" data-deep-link="true" data-update-history="true" data-deep-link-smudge="true" data-deep-link-smudge-delay="500" data-tabs id="deeplinked-tabs">
      <li class="tabs-title is-active"><a href="#console" aria-selected="true">Console</a></li>
      <li class="tabs-title"><a href="#files">Files</a></li>
      <li class="tabs-title"><a href="#exercises" aria-selected="true">Exercises</a></li>
    </ul>
    
    <div class="tabs-content" data-tabs-content="deeplinked-tabs">
      <div class="tabs-panel is-active" id="console">
        <iframe src="http://{{ uid }}.console.gitforidex.com"></iframe>
      </div>
      <div class="tabs-panel" id="files">
        <iframe src="http://{{ uid }}.files.gitforidex.com:8080"></iframe>
      </div>
      <div class="tabs-panel" id="exercises">
        <iframe src="http://go.gitforidex.com/committer/{{ shaid }}"></iframe>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/js/foundation.js"></script>
    <script>
    (function ($) {
      $(document).foundation();
      // $(document).ready(function() {
      //   $('.rebuild-btn').click(function() {
      //     $.ajax({
      //       url: 'http://get.gitforidex.com/building/rebuild.php',
      //       method: 'POST',
      //       data: {
      //         uid: '{{ uid }}'
      //       }
      //     })
      //     .done(function() {
      //       alert('Instance rebooted. Refreshing page.');
      //       window.location.reload();
      //     })
      //   });
      // });
    })(jQuery);
    </script>
</body>
</html>